<h1>Editing recruit</h1>

<% form_for(@recruit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :phone_screen_date %><br />
    <%= f.date_select :phone_screen_date %>
  </p>
  <p>
    <%= f.label :phone_screener %><br />
    <%= f.text_field :phone_screener %>
  </p>
  <p>
    <%= f.label :problem_assigned %><br />
    <%= f.date_select :problem_assigned %>
  </p>
  <p>
    <%= f.label :problem_received %><br />
    <%= f.date_select :problem_received %>
  </p>
  <p>
    <%= f.label :reviewer %><br />
    <%= f.text_field :reviewer %>
  </p>
  <p>
    <%= f.label :review_completed %><br />
    <%= f.date_select :review_completed %>
  </p>
  <p>
    <%= f.label :possible_assignment %><br />
    <%= f.text_area :possible_assignment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @recruit %> |
<%= link_to 'Back', recruits_path %>